body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins-Regular', sans-serif !important;
    font-weight: 300 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
}

@font-face {
    font-family: caviarDreams;
    src: url('../src/assets/fonts/Caviar-Dreams/CaviarDreams.ttf');
}

@font-face {
    font-family: caviarDreamsBold;
    src: url('../src/assets/fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}

@font-face {
    font-family: coolvetica;
    src: url('../src/assets/fonts/coolvetica/coolvetica rg.ttf');
}

html {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    text-transform: none !important;
}
