body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins-Regular', sans-serif !important;
    font-weight: 300 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div, span {
    font-family: 'Poppins-Regular', sans-serif !important;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
}

@font-face {
    font-family: caviarDreams;
    src: url('../src/assets/fonts/Caviar-Dreams/CaviarDreams.ttf');
}

@font-face {
    font-family: caviarDreamsBold;
    src: url('../src/assets/fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf');
}

@font-face {
    font-family: coolvetica;
    src: url('../src/assets/fonts/coolvetica/coolvetica rg.ttf');
}

html {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #726d6d;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #d8d9d9;
    border-radius: 4px;
}

.css-1c99szj-MuiRating-icon {
    color: #E14026 !important;
}

.css-dqr9h-MuiRating-label {
    display: inline;
}

.css-1algrk9-MuiRating-root {
    color: #E14026 !important;
}

.css-ryrseu-MuiRating-root {
    color: #E14026 !important;
}

.css-1lauo1g-MuiRating-root {
    color: #E14026 !important;
}