.recipe-item-overlay .viewed-number {
    padding-right: 20px;
    padding-left: 5px;
    font-size: 1.2em;
    color: white;
}

.recipe-item-overlay .buttons-spread {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.recipe-item-overlay .delete-from-list {
    height: 1em !important;
    align-content: center;
    position: absolute;
    right: 1em !important;
}

.recipe-item-overlay .item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.recipe-item-overlay .delete-from-list-icon {
    height: 1.2em !important;
    width: 1.2em !important;
    color: #fd7269;
}

.recipe-item-overlay .is-saved {
    font-size: 1.8em;
    height: 1em !important;
}
