.recipes-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    justify-content: center;
    height: 10em;
    width: 100%;
}

.recipes-catalog .eRYzdk {
    width: 18% !important;
}