.search-manually {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100% !important;
}

.complete-search-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.header .search-bar {
    color: black !important;
    border-radius: 0.5em;
    width: 100%;
    max-width: 20vw !important;
}

.complete-search-bar .css-v4u5dn-MuiInputBase-root-MuiInput-root:before, .complete-search-bar .css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
    border-bottom-color: #E14026 !important;
}