.css-v4u5dn-MuiInputBase-root-MuiInput-root:before,
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after,
.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:before,
.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root:after,
.css-l4u8b9-MuiInputBase-root-MuiInput-root:before,
.css-l4u8b9-MuiInputBase-root-MuiInput-root:after,
.css-2xg2e2-MuiInputBase-root-MuiInput-root:before,
.css-2xg2e2-MuiInputBase-root-MuiInput-root:after {
    border-bottom-color: #e14483 !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    color: black !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    text-align: left;
}
