.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root, .css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-family: 'Poppins-Regular', sans-serif !important;
    font-weight: 400 !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #E14026 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: inherit !important;
}

.hidden {
    display: none !important;
}