.header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
}

.recipes-btn {
    background-color: #fd7269 !important;
    color: black !important;
    margin-right: 1em !important;
    border-radius: 1em !important;
    width: 10em;
    height: 4em;
    text-transform: capitalize !important;
}
.recipes-btn:hover {
    border: black 1px solid !important;
}
