.recipe-page {
    display: flex;
    flex-direction: row;
    margin: 1em 2em;
    text-align: left;
}

.recipe-page .recipe-media {
    display: flex;
    flex-direction: column;
}

.recipe-page .above-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.recipe-page .recipe-media .recipe-rating {
    margin-left: 0.5em;
}

.recipe-page .recipe-media .recipe-rating label {
    display: initial !important;
}

.recipe-page .recipe-data {
    margin: 2em 2em 0 2em;
}
.recipe-page .recipe-data .ingredients-list {
    /* list-style-type: none; */
}

.recipe-page .comments .comment-card {
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 0.5em;
}

.recipe-page ul li,
.recipe-page ol li {
    margin-top: 0.8em;
}
