.media-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-upload .image-item {
    position: relative;
    margin: 0.2em;
    width: 20em;
    height: 20em;
}

.media-upload img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.media-upload .image-card {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}
