.recipe-stages {
}

.recipe-stages .recipe-stage span {
    margin-right: 5px;
    font-weight: bold;
}

.recipe-stages .recipe-stage {
    display: flex;
    flex-direction: row;
    margin: 0.8em 0;
}

.recipe-stages .index {
    color: #808080;
}

.recipe-stages .delete-btn {
    margin: 0 0.2em;
    height: 2em;
    width: 2em;
}
