.upload-recipe-page-form {
    margin: 1.5em 2em 0.5em 2em;
}

.upload-recipe-page-form form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    width: 100%;
    padding: 2rem 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form > div {
    width: 100%;
}

.upload-recipe-page-form .recipe-inputs {
    text-align: left;
}

.upload-recipe-page-form .recipe-inputs h4 {
    margin: 1rem 0 1.5rem;
    font-weight: bold;
}

.upload-recipe-page-form .recipe-inputs .recipe-title {
    text-align: center !important;
    z-index: 1;
    position: relative;
    font-size: 1.8em;
}

.upload-recipe-page-form .recipe-inputs .recipe-title::before {
    content: " ";
    background-color: #e0e0e0;
    height: 1.9em;
    width: 4.8em;
    position: absolute;
    transform: translate(-0.8em, 0.2rem);
    z-index: -1;
    clip-path: polygon(22% 18%, 79% 18%, 100% 30%, 100% 53%, 79% 46%, 21% 46%, 0 53%, 0% 30%);
}

.upload-recipe-page-form .instructions-title {
    color: #808080;
}

.upload-recipe-page-form .recipe-inputs > div {
    margin: 0.8em 0;
    display: inherit;
}

.upload-recipe-page-form .form-button {
    margin: 0.5em 10rem;
}

.upload-recipe-page-form .select-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upload-recipe-page-form .select-inputs > div {
    margin: 0 0.5em 0.5em 0;
}

.red-button {
    background-color: #e14026 !important;
}

.red-button svg {
    fill: white;
}

.red-button.disabled {
    background-color: #e1bdbd !important;
}

.select-inputs .css-16xnw6h-MuiFormControl-root .MuiFormLabel-root,
.select-inputs .css-1lf2uee-MuiFormControl-root .MuiFormLabel-root {
    left: -12px !important;
    top: 9px !important;
}
