.upload-recipe-page-form {
    margin: 1.5em 2em 0.5em 2em;
}

.upload-recipe-page-form form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
    width: 100%;
    padding: 2rem 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form > div {
    width: 100%;
}

.upload-recipe-page-form .recipe-inputs {
    text-align: left;
}

.upload-recipe-page-form .recipe-inputs h4 {
    margin: 1rem 0 1.5rem;
}

.upload-recipe-page-form .instructions-title {
    color: #808080;
}

.upload-recipe-page-form .recipe-inputs > div {
    margin: 0.8em 0;
    display: inherit;
}

.upload-recipe-page-form .form-button {
    margin: 0.5em 10rem;
}

.upload-recipe-page-form .select-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upload-recipe-page-form .select-inputs > div {
    margin: 0 0.5em 0.5em 0;
}

.red-button {
    background-color: #e14026 !important;
}

.red-button svg {
    fill: white;
}

.red-button.disabled {
    background-color: #e1bdbd !important;
}
