.navbar {
    padding: 0.6em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e14026;
    color: #EBEBEB !important;
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 10px 0px #00000038;
    height: 4em;
}

.MuiButton-outlined {
    border-color: #EBEBEB !important;
    border-radius: 30%;
}

.navbar a {
    color: #EBEBEB;
}

.navbar .sign-out-btn {
    cursor: pointer;
    text-decoration: underline;
}

.navbar .navbar-end {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar .navbar-end span {
    margin: 0 0.3em;
}

.navbar .navbar-end .search-input {
    margin: 0 0.5em;
}

.navbar .navbar-end .search-input > div {
    background-color: rgb(35 35 140);
}

.navbar .navbar-end .search-input fieldset {
    border-color: white;
}

.navbar .navbar-end .search-input input {
    padding: 0.7em;
}

.navbar .navbar-end .search-input label {
    line-height: 1;
}

.add-recipe {
    color: white !important;
    background-color: #fd7269 !important;
    margin-right: 0.5em !important;
}
