.header {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 1em;
}

.header .searchbar {
  padding-right: 2em;
  color: #fd7269 !important;
}

.searchbar .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  color: #fd7269 !important;
}

.searchbar .MuiOutlinedInput-notchedOutline {
  border: #fd7269 solid 1px;
}
