.search-recipes {
  padding-top: 1em;
  padding-left: 5em;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.search-dropdown:hover {
  border: black 1px solid !important;
}

.search-dropdown {
  border-radius: 1em;
  border: none !important;
  background-color: #fd7269 !important;
  color: black !important;
  margin-right: 0.5em !important;
}

.search-dropdown
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: black !important;
}

.search-dropdown::selection {
  border: none;
}

.search-dropdown .MuiOutlinedInput-notchedOutline {
  border: none;
}

.search-dropdown .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: black;
  font-size: 1.2em;
}
