.profile-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    height: inherit;
    margin-top: 2em;
}

.user-name-title {
    margin-top: 0.3em;
    font-size: 2em;
    text-align: left;
    font-weight: 500;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.recipe-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.current-user-picture {
    width: 24 !important;
    height: 24 !important;
}

.user-section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-top: 0.2em;
    margin-bottom: 6em;
    text-align: left;
    line-height: 2em;
    font-size: 0.9em;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.recipe-results {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #e14026 !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #e14026 !important;
}

.profile-section .iWdjY {
    margin: 0.5em 0.5em;
}

.recipe-results .recipes-catalog {
    justify-content: start;
}
